section {
  margin: 20px 0 20px 0;
}

.info-text {
  font-size: 1.1em;
}

.full-width {
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

/* Logo & Header */

header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.buttonsArea {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.Error {
  font-size: larger;
  color: red;
}

.Success {
  color: rgb(64, 36, 9);
}

/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.hideclass {
  display: none;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 16px;
}

.btn {
  border-radius: 15px;
  border: 2px solid rgb(140, 98, 18);
  color: #333;
  font-family: "Monaco", "Lucida Console", "Courier New", monospace;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: rgb(255, 237, 173);
  border: 3px solid rgb(140, 98, 18);
  border-radius: 15px;
}

.btn:hover:after {
  height: 93%;
  opacity: 1;
}
.btn:after {
  width: 98%;
  height: 0;
  top: 50%;
  left: 50%;
  background: rgb(140, 98, 18);
  border-radius: 15px;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
