---
layout: page
---
{% include masthead.html %}

{{ content }}
<p class="site-description animated fadeIn" style="text-align:center;">
  Thank for visiting this tab! <br>
  Currently accepting the following Cryptocurrencies: <br><br>
  ONE (HARMONY SHARD0) <br>
  Address: <b>one13ygaerq4epnznr5amt3mqwm6kk57t8g6ueag3k</b> <br><br>
  BNB (BINANCE SMART CHAIN BEP20) <br>
  Address: <b>0x4D3343C4e99aD0c63335171834f24267cf1c0831</b> <br><br>
  ETH (ETHEREUM ERC20) <br>
  Address: <b>0x4D3343C4e99aD0c63335171834f24267cf1c0831</b> <br><br>
  CELO (CELO) <br>
  Address: <b>0x20309A2E421143a97dE577a98e5A83d01B87d9CE</b> <br><br>
</p>



<div id="results"></div>
